body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.layout {
  width: 100%;
  display: flex;
  padding: 32px 0;
  justify-content: center;
}

.mesh {
  width: 1400px;
  height: 725px;
}

.popper {
  margin: 2px !important;
  float: left;
}

.userForm {
  position: fixed !important;
  padding: 32px !important;
  z-index: 2;
  top: 40%;
  left: 40%;
}

.colorPicker {
  margin: 22px 8px 8px 22px !important;
}

.blur {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.textField {
  display: flex;
  align-items: baseline;
}
